extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main 
  .container.my-4
      h2.mb-4 Thêm sản phẩm mới
  
      //- Hiển thị flash message nếu có
      +showAlert-error(3000)
  
      form(action=`${prefixAdmin}/products/create` method="POST" enctype="multipart/form-data" )
        .mb-3
          label.form-label(for="name") Tên sản phẩm
          input#name.form-control(type="text" name="title"  placeholder="Nhập tên sản phẩm" )
  
        .mb-3
          label.form-label(for="description") Mô tả
          textarea#description.form-control(name="description" rows="4" placeholder="Nhập mô tả sản phẩm" class="textareamce" )
          

        .mb-3
          label.form-label(for="price") Giá
          input#price.form-control(type="text" name="price"   placeholder="Nhập giá sản phẩm" )
        
        .mb-3
          label.form-label(for="discountPercentage") % Giảm giá
          input#discountPercentage.form-control(type="text" name="discountPercentage" min="0"  placeholder="Nhập giảm giá" )

        .mb-3
          label.form-label(for="stock") Số lượng
          input#stock.form-control(type="number" name="stock" min="0"  placeholder="Nhập số lượng" )

        .mb-3(upload-images)
          label.form-label(for="image") Ảnh sản phẩm
          input#image.form-control(type="file" name="image" accept="image/*" upload-images-input)

          //- Khung chứa ảnh và nút X
          div.position-relative.d-inline-block.mt-2(style="width:150px")
            img(
              src=""
              upload-images-review
              style="width:150px; border:1px solid #868585ff; border-radius:8px;"
            )
            //- Nút X
            span.position-absolute.d-none.top-0.end-0.bg-danger.text-white.rounded-circle.px-2(style="cursor:pointer" close-image) X
         
              

        .mb-3
          label.form-label(for="position") Vị trí
          input#position.form-control(type="number" name="position" min="0"  placeholder="Nhập vị trí")
        
        .mb-3
          label.form-label Trạng thái
          .form-check
            input#active-yes.form-check-input(type="radio" name="status" value="active" checked)
            label.form-check-label(for="active-yes") Hoạt động
          .form-check
            input#active-no.form-check-input(type="radio" name="status" value="inactive")
            label.form-check-label(for="active-no") Dừng hoạt động

  
        button.btn.btn-primary(type="submit") Thêm sản phẩm
        a.btn.btn-secondary.ms-2(href="/admin/products") Hủy