body {
  background-color: #f8f9fa;
}
#sidebar {
  position: sticky;
  top: 0;
}
#sidebar .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.card {
  border-radius: 10px;
}


/* SHOW ALERT */

[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}
[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}