//- // Nhung layout defaute
extends ../../layouts/default.pug    
//- // Nhung mixin
include ../../mixins/box-head.pug    
block main
  main
  section.product-listing
      .container
        +box-head("Danh sách sản phẩm")

        .filters
            form(method="GET", action="/san-pham")
              input(type="text", name="search", placeholder="Tìm kiếm sản phẩm...")
              select(name="category")
                option(value="") -- Tất cả danh mục --
                option(value="ao") Áo
                option(value="giay") Giày
                option(value="tui") Túi xách
              button(type="submit") Lọc

        .product-grid
            // Sản phẩm 1
            each item in products
              .product-card
                img(src=`${item.thumbnail}`, alt="Áo sơ mi trắng")
                h3 #{item.title}
                p #{item.price}$
                a.btn.btn-primary(href="/san-pham/1") Xem chi tiết

            