mixin select-tree(Records,level=1,parent_id="")
  each record in Records
    - const prefix = Array(level + 1).join("-- ");
    option(value=`${record._id}` selected=(record._id == parent_id ? true : false)) #{prefix} #{record.title}
      if record.children && record.children.length > 0
        +select-tree(record.children, level + 1 , parent_id)
    